module csx_el7_8_9_modulerequest 1.0;

require {
    type kernel_t;
    type domain;
    class system module_request;
}

# Apply dontaudit rule to any type
allow domain kernel_t:system module_request;
